

	h1{
        font-family:fantasy;
font-stretch: extra-expanded;
    text-align: center;
    color:black;
        
        
}
h3{
    font-family:cursive;
    text-align: center;
    color:coral;
}




* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  clear: both;
  display: table;
}
figcaption{
    text-align: center;
    
    color: black;
    
    font-style:italic;
    font-size: 18px;
}





.multi-line-text {
  font-size: 30px;
}
* {
  box-sizing:content-box;
}

.row {
  display:flex;
  flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 10px;
}
.column {
  flex: 20%;

    padding:5px;

}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
figcaption{
    text-align: center;
}
.desk{
    font-size: 190%;
    text-align: match-parent;
   
    
    
}
.container{
    padding-top: 110px;
    position: absolute;
    text-align: center;
    
}
.container1{
    padding-top: 60px;
    position: absolute;
    text-align: center;
    
}
.left{ color:black;
    font-family:sans-serif;
    font-size:20px;
    font-style: italic;
    position:absolute;
    bottom:150px;
    right:1000px;
}
.left1{ color:black;
    font-family:sans-serif;
    font-size:20px;
    font-style: italic;
    position:absolute;
    bottom:200px;
    right:700px;
}
.about{
font-size: 20px;
    
    
}
.mission{
    text-align-last: left;
    
    font-size: 25px;
    z-index: 1;
}


.vision{
    padding-top: 90px;
    text-align-last: left;
    font-size: 25px;
    z-index: 1;
}
.csr{
    padding-left: 550px;
    padding-top: 70px;
    text-align: center;
    font-size: 25px;
}

.csr1{
    padding-left: 550px;
    padding-top: 70px;
    text-align: center;
    font-size: 25px;
}



















